<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>显示学生信息</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--  <link th:href="@{/bootstrap/css/bootstrap.css}" href="../static/bootstrap/css/bootstrap.css" rel="stylesheet"/>
      <link th:href="@{/bootstrap/css/bootstrap-theme.css}" href="../static/bootstrap/css/bootstrap-theme.css"
            rel="stylesheet"/>
      <script th:src="@{/scripts/jquery-3.1.1.min.js}" src="../static/scripts/jquery-3.1.1.min.js"></script>
      <script th:src="@{/bootstrap/js/bootstrap.js}" src="../static/bootstrap/js/bootstrap.js"></script>-->
</head>
<body>
<p th:text="#{name}">default message</p><!--
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    <span class="panel-title">学生信息</span>
                </div>
                <div class="panel-body">
                   code：<p th:text="#{name}">2</p><br/>
                </div>
                <div class="panel-footer text-right">
                    <span class="panel-title">酒城工作室@2107</span>
                </div>
            </div>
        </div>
    </div>
</div>
--></body>
</html>