<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/statics/assets/layui/css/layui.css}"/>
    <script type="text/javascript" th:src="@{/statics/assets/layui/layui.js}"></script>
    <title>登录</title>
</head>
<body>
<div align="center">
    <form class="layui-form" th:action="@{/loginIn}" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">登录名</label>
            <div class="layui-input-block">
                <input type="text" name="UserDetail.userName" lay-verify="title" autocomplete="off" placeholder="登录名" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="text" name="userPass" lay-verify="title" autocomplete="off"
                       placeholder="登录名" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spitter</title>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/style.css}"></link>
</head>
<body onload='document.f.username.focus();'>
<div id="header" th:include="page :: header"></div>

<div id="content">

    <a th:href="@{/spitter/register}">Register</a>


    <form name='f' th:action='@{/loginIn}' method='POST'>
        <table>
            <tr><td>User:</td><td>
                <input type='text' name='username' value='' /></td></tr>
            <tr><td>Password:</td>
                <td><input type='password' name='password'/></td></tr>
            <tr><td colspan='2'>
                <input id="remember_me" name="remember-me" type="checkbox"/>
                <label for="remember_me" class="inline">Remember me</label></td></tr>
            <tr><td colspan='2'>
                <input name="submit" type="submit" value="Login"/></td></tr>
        </table>
    </form>
</div>
<div id="footer" th:include="page :: copy"></div>
</body>
</html>
